@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: #fff;
}

.image {
  display: flex;

  /* height: 192px; */
  width: 320px;
  margin: 2rem auto;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icons .fabok {
  color: #4c7bf3;
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.fabok:hover {
  color: #fff;
  background-color: #4c7bf3;
}
