@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: #fff;
}

.image {
  display: flex;

  /* height: 192px; */
  width: 320px;
  margin: 2rem auto;
}

.fa-brands {
  border: 1px solid red;
  border-radius: 50%;
  /* color: #4c7bf3; */
  height: 32px;
  width: 32px;
}

ion-icon {
  color: #fff;
  background-color: #4c7bf3;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}