@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem 0;
}

main h1 span {
  color: #4c7bf3;
}

main .par-1 {
  text-align: center;
  margin: 1rem 0;
  color: #969696;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
}

.par-1 span {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: #15202a;
}

.tiny {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #15202a;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  cursor: pointer;
  height: 40px;
  border: 1px solid #c2d3ff;
  padding: 0 1rem;
  margin-bottom: 1rem;
  width: 281px;
  border-radius: 28px;
  outline: none;
}

::placeholder {
  color: #c2d3ff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.image {
  display: flex;
  width: 320px;
  margin: 2rem auto;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icons .fabok {
  color: #4c7bf3;
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.fabok:hover {
  color: #fff;
  background-color: #4c7bf3;
}
